* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "iranian-sans";
    src: url("../font/iranian-sans.ttf") format('truetype');
}

body {
    font-family: "iranian-sans", sans-serif !important;
    background-color: #16122A !important;
}

html,
body {
    position: relative !important;
    height: 100% !important;
}

a {
    text-decoration: none !important;
}

@media screen and (min-width:1550px) {
    .container {
        max-width: 1500px !important;
    }
}

@media screen and (max-width:992px) {

    footer .email,
    footer .about,
    footer .social {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.text-gray {
    color: #888888 !important;
}

.gray-hover:hover {
    transition: 0.5s all ease;
    color: #ffffff !important;
}

/* swiper */
.swiper {
    max-width: 1500px !important;
    height: auto !important;
    padding-top: 20px !important;
    padding-bottom: 50px !important;
}

#mySwiper {
    direction: rtl;
    height: auto !important;
}

.swiper-slide {
    margin-left: 0 !important;
    text-align: center !important;
    font-size: 18px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
    --swiper-theme-color: #6A67F4 !important;
}

/* str-icon */
.avaliacao {
    display: flex;
    margin-bottom: 0;
}

.star-icon {
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 24px;
}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
}

.star-icon:hover~.star-icon::before {
    content: "\2606";
}

/* Header */

header {
    z-index: 99 !important;
    position: sticky !important;
    top: 0 !important;
}

header nav {
    background-color: #2C293E;
    border-radius: 15px;
}

.header-logo {
    width: 150px;
    right: 10px;
}

.text-pink {
    color: #A29FAB !important;
}

.text-pink:hover {
    color: #E097A5 !important;
}

.text-cyan {
    color: #CEFEF8 !important;
}

.nav-link:hover {
    color: #6A67F4 !important;
}

.dropdown-item:hover {
    background-color: unset !important;
    color: #6A67F4 !important;
}

.dropdown-item:active {
    background-color: unset !important;
    color: #6A67F4 !important;
}

.dropdown-item:focus {
    background-color: unset !important;
    color: #6A67F4 !important;
}

.search {
    background-color: #16122A !important;
    border: unset !important;
}

.search:focus {
    border: unset !important;
    color: #ffffff !important;
}

.search::placeholder {
    color: #ffffff !important;
}

.navbar .collapse ul li ul {
    width: 250px;
    background: #323650;
    top: 115px;
    right: 0;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    z-index: 999;
}

.navbar .collapse ul li ul li a {
    padding: 9px 15px;
    display: block;
    font-weight: normal;
}

.navbar .collapse ul li ul li a {
    color: #fff !important;
}

.navbar .collapse ul li ul li a:hover {
    color: #6A67F4 !important;
}

.navbar .collapse>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

/* Section Games View */
.items {
    border-radius: 20px;
    background-color: #2C293E;
    flex: 1 !important;
}

.boxproduct {
    border-radius: 20px;
    background-color: #2C293E;
}

.boxproduct .picproduct {
    max-width: 220px;
    max-height: 240px;
}

.boxproduct .txtproduct a:hover {
    color: #6A67F4 !important;
}

.boxproduct .shipping {
    background-color: #6A67F4;
}

.boxproduct .buyproduct button {
    background-color: #16122A;
}

.boxproduct .buyproduct button:hover {
    background-color: #6A67F4;
}

/*
    Login Form Page
 */

.login-form {
    width: 420px !important;
    height: auto !important;
    border-radius: 10px !important;
    background-color: #222639 !important;
    top: 250px !important;
    display: flex;
    justify-content: center;
}

.form-control {
    background-color: #323650;
    border: none;
    color: #ffffff !important;
    direction: rtl;
}

.form-control::placeholder {
    color: #ccc !important;
}

.form-control:focus {
    background-color: #323650;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}

.login-form button {
    background-color: #16122A !important;
    border: none !important;
}

.login-form button:hover {
    transition: 0.5s all ease !important;
    background-color: #6A67F4 !important;
    color: #ffffff !important;
}

.btn-view .btn-view-more {
    color: #ffffff;
    border: 1px solid #efa1ac;
    border-radius: 7px;
}

.btn-view .btn-view-more:hover {
    color: #ffffff;
    background-color: #efa1ac;
}

.info {
    line-height: 2rem;
    font-size: 18px;
}

.btn-insta .btn-insta-id {
    border: 1px solid #efa1ac;
}

.btn-insta .btn-insta-id:hover {
    background-color: #efa1ac;
}

.btn-insta .input-group i {
    background-color: #efa1ac;
    cursor: pointer;
}

footer .f-menu ul li a:hover {
    color: #6A67F4 !important;
}

footer .email .btn-send {
    background-color: #efa1ac;
    border: unset;
    color: block;
    font-size: 25px;
    border-radius: 5px 0 0 5px;
}

footer .email .btn-send:hover {
    color: #ffffff !important;
}

footer .social ul li a span:hover {
    color: #6A67F4 !important;
}

.copyright {
    color: #ccc;
    border-top: 1px solid #333;
}

/* category */
.menu-cate ul li {
    display: flex;
    align-items: baseline;
    padding: 0 15px;
    cursor: pointer;
}

.menu-cate ul li:hover {
    color: #6A67F4;
}

.line-cate {
    border-bottom: 1px solid #ccc;
}

/* tabs */
.tab button {
    border: 1px solid #6A67F4;
    background-color: unset;
    color: #6A67F4;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.tab button:hover {
    background-color: #6A67F4;
    color: #FFF;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #6A67F4;
    color: #FFF;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

/* pages */
.img-page{
    border: 1px solid #323650;
    max-height: 600px;
}
.other{
    border-top: 1px solid #ccc;
}
.other i{
    color: yellow;
}
.shortdescription{
    border-bottom: 1px solid #ccc;
}

#comment input{
    padding: 10px;
}
#comment .btn-submit{
    background-color: #6A67F4;
}
#comment .comment{
    border-bottom: 1px solid #ccc;
}

#comment .comments{
    width: 90%;
    border-bottom: 1px solid #ccc;
}
#comment .box-comment{
    background-color: #323650;
    border-radius: 8px;
}
@media screen and (max-width: 600px){
    .menu-list{
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

}